body{
	background-color: #222;
	overflow-x: hidden;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.mlmLogo{
	width: 40vw;
}

.mlmLogo:hover {
	width: 44vw;
}

@media only screen and (max-width: 600px) {
	.mlmLogo{
		width: 80vw;
	}

	.mlmLogo:hover {
		width: 82vh;
	}
}
